<div class="content-wrapper jam-circle-wrapper">
  <%= link_to jam_circles_path, class:"chevron-back-link" do %>
      <i class="fa fa-chevron-left"></i>
  <% end %>
  <h2>Edit Jam Circle</h2>
  <%= render 'form' %>
<!--  <%= link_to 'Show', @jam_circle %> -->
</div>
