<% if @user.admin == true %>
  <% @clips.each do |c| %>
  <a href="<%= c.uploaded_file %>"><%= c.title %></a> clip_id: <%=c.id%>
  <p> use rails console to delete clips </p>
  <% end %>
<% else %>
  <p> Sorry, your not an admin </p>
<% end %>
