<h1>Your Results</h1>
<% @results.each do |user| %>
  <%= user.name %>:
  <% user.clips.each do |clip| %>
    <a href='<%= clip.uploaded_file %>'>
      <%= clip.uploaded_file_file_name %>
    </a>
  <% end %>
  <br>
<% end %>
