<script>
  $ (function () {
  // Setup the player to autoplay the next track
    var a = audiojs.createAll({
      trackEnded: function () {
        var next = $('ol li.playing').next();
        if (!next.length)
          next = $('ol li').first();
        next.addClass('playing').siblings().removeClass('playing');
        audio.load($('a', next).attr('data-src'));
        audio.play();
      }
    });

  // Load in the first track
    var audio = a[0];
    first = $('ol a').attr('data-src');
    $('ol li').first().addClass('playing');
    audio.load(first);

  // Load in a track on click
    $('ol li').click(function (e) {
      e.preventDefault();
      $(this).addClass('playing').siblings().removeClass('playing');
      audio.load($('a', this).attr('data-src'));
      audio.play();
    });

  });
</script>

<style type="text/css">
  .search-results-entries {
    display:none;
  }

  .swipe-feedback {
    text-align:center;
    padding:0 10px;
  }
  .swipe-feedback a {
    background:rgba(0,0,0,.5);
    text-decoration:none;
    font-size:1.8em;
  }


  .swipe-left {
    float:left;
    text-align:center;
    padding:50px;
  }

  .swipe-right {
    float:right;
    text-align:center;
    padding:50px;
  }
</style>

<div class="dashboard-music-player">

      <% if @results.blank? %>
        <p> No Results, Sorry! </p>
      <% else %>


          <div id="wrapper">
            <audio preload autoplay></audio>

            <ol>

          <% @results.each do |user| %>

             <% user.clips.each do |clip| %>
                <li class="search-results-entries">
                    <a href="#" data-src='<%= clip.uploaded_file %>' name='<%= clip.uploaded_file_file_name %>'>
                      <span class="song-title">
                        <%= user.name %> - 
                        <%= clip.title? ? clip.title.capitalize : clip.uploaded_file_file_name %>
                      </span>
                    </a>
                  </li>
              <% end %>
        <% end %>
          </ol>
        </div><!--close wrapper-->


<% end %>

</div><!--close dashboard music player-->
<div class="swipe-feedback">
  <a href="#" class="swipe-left">No<a/>
  <a href="#" class="swipe-right">Yes</a>

  <div style="clear:both;"><!-- clear floats--></div>
  </div>
</div>



<div class="game-over" style="display:none;">
  now we need to figure out what to do with user once they've gone through results IE <br />
  - autoroute them to LIKES page
  - show them the contact info of all their likes, etc

</div>


<script>
  // global for now
  var counter = 0;
  var swipedCounter = 0;
  showFirst();


  // show first song on page load
  function showFirst(){
    $($('.search-results-entries')[0]).css("display","block");
  }







  // testing, etc below here
  $('.swipe-feedback .swipe-left').click(function() {
    // select all search results entries OTHER than the visible one
    // make them all display:none;
    //  $('.search-results-entries:not(:visible)');






    // TODO push into array an UNLIKE for this song
    var swipeLeftArray = [];

    // ALSO DO THESE:
    // 1 play next song, hide the old one
    manageSongs();
    // 2 is game over?
    swipedCounter = swipedCounter + 1;
    gameOver();
  });

  $('.swipe-feedback .swipe-right').click(function() {
    // TODO push into array a LIKE for this song
    var swipeRightArray = [];

    // ALSO DO THESE:
    // 1 play next song, hide the old one
    manageSongs();
    // is game over?
    swipedCounter = swipedCounter + 1;
    gameOver();
  });



  // FUNCTIONS
  // PLAY NEXT SONG & hide the previous one
  function manageSongs(){
    counter = counter + 1;
    $($('.search-results-entries')[counter]).css("display","block").click();
    $($('.search-results-entries')[counter-1]).css("display","none");

  }


  // IS GAME OVER?
  function gameOver() {
      var totalToGoThrough = $('.search-results-entries').length;
      if (swipedCounter === totalToGoThrough) {
        $('.swipe-feedback').css("display","none");
        $('.game-over').css("display","block");
        console.log("that's all folks! reroute user to their likes.");
      }

  }

</script>
