
<% @user_instruments.each do |instrument| %>
  <% if instrument.id %>
    <p>
      <%= instrument.name.capitalize %>
      <%= link_to 'destroy', "/#{instrument.id}", value: instrument.id, remote: true %>
    </p>
  <% end %>
<% end %>
<%= link_to 'Add Instrument', '/', id: 'add_partial_to_add_instrument', remote: true %>
