<% @user_influences.each do |influence| %>
  <p class="preferences-label">
    <%= influence.name.capitalize %>
    <%= link_to 'X', "/#{influence.id}", value: influence.id, remote: true, class:"destroy-link", title:"remove" %>
  </p>
<% end %>


<%= link_to '/', id: 'add_partial_to_add_influence', remote: true do %>
<i class="fa fa-plus-circle add-icon"></i>Add Influence
<% end %>
