
<div class="dashboard">


    <a href="#" class="dashboard-button">
      <span><i class="fa fa-search"></i></span>
     <span>Search</span>
   </a>

  <a href="#" class="dashboard-button">
   <span><i class="fa fa-music"></i></span>
   <span>Music</span>
 </a>


  <a href="#" class="dashboard-button">
    <span><i class="fa fa-user"></i></span>
   <span>Profile</span>
  </a>

  <a href="#" class="dashboard-button">
     <span><i class="fa fa-thumbs-o-up"></i></span>
    <span>Likes</span>
  </a>

</div>




<%= link_to "My Profile", profile_path(current_user.id) %>
