
<div class="dashboard">
      <%= link_to "Music", music_path, class: "dashboard-button" %>
      <%= link_to "Search", profile_path(current_user.id), class: "dashboard-button" %>
      <%= link_to "Profile", profile_path(current_user.id), class: "dashboard-button" %>
      <%= link_to "Likes", profile_path(current_user.id), class: "dashboard-button" %>
</div>
