<div class="dashboard-wrapper music-wrapper">
  <h2>Play Sound Clip</h2>
  <div class="dashboard-music-player">


  <%= @clips.each do |clip| %>

      <span class="song-title">
        <%= clip.uploaded_file_file_name %>
      </span>
      <audio src='<%= clip.uploaded_file %>' controls></audio>




    <div class="remove-audio-garbage">
    <!--hacky way to get rid of unwanted audio text output-->
    <!--it is intentionally wrapped around the end tag-->
    <% end %></div>


  </div>


  <%= link_to "Upload New Song", new_clip_path, class:"link-to-new-file" %>


</div>



<script>
$('.remove-audio-garbage').last().css("display","none");
</script>
