<div class="content-wrapper">



<h2>Search</h2>
<% if @get == true %>
  <script>
    function displaySearchForm() {
      $('#search-form-holder').append("<%= j(render partial: 'pages/search_form', locals: {search: @search}) %>");
    }
    $(displaySearchForm);
  </script>
<% else %>
  <script>
    function displaySearchResults() {
      $('#search-form-holder').append("<%= j(render partial: 'pages/search_results', locals: {search: @search}) %>");
    }
    $(displaySearchResults);
  </script>
<% end %>
<div id="search-form-holder">
</div>

<span style="display:none;">
<%= link_to 'Back', root_path, class:"rails-link" %>
</span>

</div>
