.cheat-activated {
  z-index: 2;
  width: 480px;
  padding: 0 0 0 1em;
  height: 48px;
  position: fixed;
  top: 140px;
  right: 0;
  left: 5%;
  background: rgba(0, 0, 0, .72);
  border: 1px solid black;
  box-shadow: 1px 1px 2px black;
};
.cheat-text {
  margin: 4px 0 0;
  font-family: 'Krona One';
  font-size: 28px;
  color: white;
  vertical-align: middle;
  text-shadow: 0 0 10px black;
};
