@import 'sass';

$progressBarWidth: 22%;

#chain{
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 100;
  max-width: 100%;
  min-height: 70%;
  max-height: 100%;
  display: none;
}
.cheat-box {
  z-index: 2;
  width: 480px;
  padding: 0 0 0 1em;
  height: 48px;
  position: fixed;
  top: 18%;
  right: 0;
  left: 4%;
  background: rgba(0, 0, 0, .72);
  border: 1px solid black;
  box-shadow: 1px 1px 2px black;
  display: none;
};
.cheat-text {
  margin: 4px 0 0;
  font-family: 'Krona One';
  font-size: 28px;
  color: white;
  vertical-align: middle;
  text-shadow: 0 0 10px black;
};
#gta,
#gta2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
};
img.chrome-rim {
  position: absolute !important;
  top: auto !important;
  margin: 3%;
  z-index: 1000;
  display: none;
  bottom: 0;
  right: 0;
  height: 18%;
};
.gta-progress-bar {
  display: none;
  position: fixed;
  left: 10vh;
  top: 10vh;
  z-index: 9000;
  background-color: #686456 !important;
  border: 3px solid black;
  border-radius: 1px !important;
  width: $progressBarWidth;
  height: $progressBarWidth/15;
  box-shadow: 0 0 1px gray;
}
.gta-progress-bar-inside {
  background-color: white !important;
  height: 100%;
  width: 0;
}
