@import 'sass';



.dashboard {
  width:450px;
  margin:0 auto;
  padding:0;
  background:#404040;

       @include mobile {
         width:100%;
         padding:0px;

       }

   a {
     display:block;
     margin:0;
     text-align:center;
     background:$button-color-bg;
     color:$button-text;
     font-size:2.8em;
     transition: $transition;
     text-decoration:none;
     margin-bottom:1px;


     // always center text on dashboard buttons
     // via: text align + vertical align + function to set dynamic line height
     text-align: center;
     vertical-align: middle;


         @include mobile {
           font-size:2.5em;

         }
    }

    a:hover {
       background: $button-hover ;
       color:#f8f8f8;
    }

    a:first-child {
       margin-top:0; // no margin top of first block link
    }

    a:last-child {
       margin-bottom:0px;  // no margin-bottom on last block link
     }



}





.dashboard-wrapper {
  background:#000;
  border: 1.5em solid #000;
  position: absolute;
  left: 60%;
  top: 18%;
  width: 400px;
  @include mobile {
      width: 100%;
      position: static;
      margin: 0;
      border: 0em solid #000;

  }
  @include tablet {
      width: 500px;
      position: static;
      margin: 0 auto;
  }

}
