@import 'sass';

.audiojs {
  .play {
    background: asset_url("player_graphics.gif") -2px -1px no-repeat;
  }
  .pause {
    background: asset_url("player_graphics.gif") -2px -91px no-repeat
  }
  .loading {
    background: asset_url("player_graphics.gif") -2px -31px no-repeat;
  }
  .error {
    background: asset_url("player_graphics.gif") -2px -61px no-repeat;
  }
}

form.jam-clip {
  display: none;
}
// base styles using golden ratio algorithm here http://type-scale.com/
html {
  font-size: 1em;
  height: 100%;
}
body {
  background: $background-color;
  height: 100%;
  background-image: asset_url('man-person-wall-music.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family:Verdana, Geneva, sans-serif;
  //font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  line-height: 1.45;
  color: #fff;
  padding-top: 150px; // offset for header height
  padding-bottom: 80px; // not tied to footer, etc heights
  @include mobile {
    padding-top: 70px; // needs to match height of sticky header
    padding-bottom: 20px; // needs to match size of sticky footer
  }
}
p {
  margin-bottom: 1.3em;
}
h1,
h2,
h3,
h4 {
// default font
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
  letter-spacing:.1em;




}
h1 {
//  font-family: 'Libre Baskerville', serif;
font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic,          AppleGothic, sans-serif;
letter-spacing:.05em;
 display:block;
  margin-top: 0;
  font-size: 3.998em;
}
h2 {
  font-size: 2.827em;
}
h3 {
  font-size: 1.999em;
}
h4 {
  font-size: 1.414em;
}
small,
.font_small {
  font-size: 0.707em;
}
* {

  // fix margin/padding calculations
  box-sizing: border-box;
}

// standard link settings
a,
a:visited {
  color: #fff;
}
a:hover {
  color: default;
  background: none;
}

// defaults
.container {
  margin: 0 auto;
  max-width: 600px;
  padding: 0;
  height: 100%;
  @include mobile {

    //      overflow:hidden; // mobile footer tweaks
  }
}

// form defaults
form {
  width: 100%;
  font-family:inherit;
  label {
    display: block;
  }
  input {
    font-family:inherit;
    color: initial;
    width: 100%;
    padding: 10px;
    font-size: 1.4em;
    border: 0px solid $border-color;
    border-radius: $border-radius;
    @include mobile {
      font-size: 1.2em;
    }
  }
  input[type="submit"] {
    font-family:inherit;
    width: 100%;
    padding: 10px;
    font-size: 1.4em;
    text-align:center;
    background: rgba(0,0,0,.2); // #FDF5E6;
    color: #fff;
    box-shadow: none;
    font-size:1em;
    text-transform: uppercase;
    letter-spacing:.2em;
    border: 1px solid #FFF5EE;
    border-radius: 0px;
    cursor: pointer;
    }
    input[type=checkbox].css-checkbox {
        position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
    }
    input[type=checkbox].css-checkbox + label.css-label {
        padding-left:30px;
        height:21px;
        display:inline-block;
        line-height:21px;
        background-repeat:no-repeat;
        background-position: 0 0;
        //font-size:21px;
        vertical-align:middle;
        cursor:pointer;
      }
    input[type=checkbox].css-checkbox:checked + label.css-label {
        background-position: 0 -21px;
      }
    label.css-label {
        background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_63a646f248e459260b6213f106eb04cc.png);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }




  input[type="submit"]:hover{
    background:#000;
    font-family:inherit;
  }


  input[type="select"] {
   // see .select class
 }

  input[type="file"] {
    width: 100%;
    font-family:inherit;

    //  padding: 10px;
    font-size: 1.4em;
    background: #fff;
    color: #404040;
    box-shadow: none;
    border: 0 solid $border-color;
    border-radius: $border-radius;
  }
  textarea {
    font-family:inherit;
    width: 100%;
    font-size: 1.4em;
    padding: 10px;
    background: #fff;
    color: #404040;
    box-shadow: none;
    border: 0px solid $border-color;
    border-radius: $border-radius;
  }
}

// THIS MAY NEED TO GO ELSEWHERE BUT FOR RIGHT NOW IT FIXES THE PROFILE
// PIC ON THE ACCOUNT PAGE
.profile-pic-account {
  max-width: 100%;
  height: auto;
  cursor: pointer;
  margin-top: 5px;
}

// wrapper for all content with the big black border
.content-wrapper {
  background: rgba(0, 0, 0, .7);
  border: 1.5em solid #000;
  position: absolute; // necessary to go to the right in desktop view
  left: 57%;
//  top: 16%;
  width: 450px;
  padding-bottom: 20px;
  @include mobile {
    border-width: 0.5em;
    min-height: 100%; //when I do this content longer than initial viewport
    // spills out of it - IE it goes out of the content wrapper
    padding-bottom: 50px; // must match footer height
    position: static;
  }
  #profilePicFileField {
    display: none;
  }
  // this hides the profile photo upload button, showing only the profile photo
  @include mobile {
    width: 100%;
    position: static;
    margin: 0;
  }
  @include tablet {
    width: 500px;
    position: static;
    margin: 0 auto;
  }
  form {
    margin: 0;
    padding: 15px 50px;
    @include mobile {
      padding: 10px;
    }
  }
  h2 {
    text-align: center;
    margin: 0;
    color: #ccc;
    text-transform: uppercase;
    font-size: 1.5em;
    background: rgba(0, 0, 0, .5);
    padding: 15px 50px;
    @include mobile {
      text-align: center;
      font-size: 1em;
      color: #fff;
      background: rgba(0, 0, 0, 1); // remove background opacity
      display: block;
      padding: 15px 10px;
    }
  }
}










// parsley
.parsley-errors-list li {
  padding-bottom:20px;
  line-height:20px;
}
.parsley-success {
  color: #000!important;
  background-color: #fff!important;
  border: 0px solid #D6E9C6!important;
}

#userForm, #loginForm, #jamCircleForm {
  .parsley-errors-list li {
    padding-top:20px;
    padding-bottom:20px;
  }

}






// chevron back link
.chevron-back-link {
  text-decoration:none;
  font-size:.4em;
  color:#ccc!important;
  position: absolute;
  top:0;
  left:0;
  padding-left:10px;
  padding-top:10px;
  @include mobile {
    display:none
  }
}









// BETTER FORM STYLES

/* Select */

.select {
  font-family:inherit;
  position: relative;
  box-sizing: border-box;
  border: 0px solid #CCC;
  border-radius: 0;
  display: inline-block;
  white-space: nowrap;
  //min-width: 5em;
  //added
  width:100%;
  background:#fff;
  margin-bottom:20px;
  color:#000;
  padding:10px;
}

.select:after {
  content: '';
  width: 2em;
  display: inline-block;
  pointer-events: none;
  font-family:inherit;
}

.select:before {
  content: '\25bc';
  z-index: 1;
  position: absolute;
  right: 0.5em;
  top: 50%;
  line-height: 1em;
  font-size: 0.75em;
  margin-top: -0.4em;
  pointer-events: none;
  opacity: 0.75;
  color:#404040;
  font-family:inherit;
}

.select select {
  font-family:inherit;
    border: 0;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: window;
  width: 100%;
  z-index: 2;
  // added
  font-size:1.2em;
  color:#404040;
  padding-right:50px;
}

#user_search_instrument_id + .parsley-errors-list {
  display:none; // this was screwing up the display
}

#user_search_genre_id + .parsley-errors-list {
  display:none; // this was screwing up the display
}

#clip_instrument_id +  .parsley-errors-list {
  display:none; // this was screwing up the display
}

select#instrument + .parsley-errors-list {
  display:none; // this was screwing up the display
}

select#genre + .parsley-errors-list {
  display:none; // this was screwing up the display
}


select:focus {
  outline:none; // remove blue outline added by browser
}




// checkbox to make your current search the default
input#user_search_default_search {
// see search scss
}




input#clip_demo { // checkbox on upload music page
  display: inline-block;
  width: 10px;
  //zoom:2.3; // works sporadically! other one works fine.
  padding:0px;
  margin:0 0 20px 0;
  background:#fff;
  color:#000;

      + span {
        position:relative;
        top:-6px;
        left:5px;
      }
  }
