@import 'sass';
header {
    z-index:1;
    text-align: left;
    max-width: 100%;
    padding: 1em 0 0 2em;
    margin: 0;
    height: 100px; // offset body by this amount too
    padding-top: 1em;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin: 0;
    background: $accent-color-1-bg;


    @include mobile {
        height: 70px;
        padding: 0em;
        text-align: center;
        }
    @include tablet {
        padding: 1em;
        text-align: center;
        }


    a, a:visited {

          color:#fff;
          text-decoration:none;
    }
    a:hover { // stay the same on hover
      background: $accent-color-1-bg;

          color:#fff;}
    h1 {
        letter-spacing: .1em;
        padding: 0;
        margin: 0;
        position: relative;
        top: 10px;
        display: inline-block;
        font-size: 2.5em;

        // adjust h1 header font for non-desktop views
        @include mobile {
            font-size: 1.8em;
            padding-top: 7px;
        }
        @include tablet {
            font-size: 2.0em;
        }

    }
}
/*
.logo {
  padding-left:9em;
}
#logoMobile {
  display:none;
}
*/


.header-profile {
  position: absolute;
  top:0;
  right:0;
  padding-top:1em;
  padding-right: 1em;
  @include mobile {
      display: none;
  }
  @include tablet {
    display:block;
  }

  .profile-pic {
    width:50px;
    height:50px;
    border-radius:50px;
  }

  .settings-link {
    color:#fff;
    text-decoration:none;
    display:block;
    font-size:.8em;
  }
  .settings-link:hover {
    padding-bottom:3px;
    border-bottom:1px solid #fff;
  }
}
.nav-bar {
    display:none;
    float: right;
    padding-right: 1em;
    @include mobile {
        display: none;
    }
    @include tablet {
      display:none;
    }
}

.nav-bar ul {
    display: inline-block;
    list-style-type: none;
    padding: 1.5em 0;
  }
.nav-bar ul li {
    display: inline;
    padding-left: 3em;
}
.nav-bar ul li a {
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}
.nav-bar ul li a:hover {
    color: #ffffff;
    line-height: 1.4;
    text-decoration: none;
    /* underline effect below- achieved via padding and border applied to bottom on hover */
    padding-bottom: 5px;
    border-bottom-width: 2px;
    border-bottom-style: solid
}
