@import 'sass';
header {
    z-index:1;
    text-align: left;
    max-width: 100%;
    padding: 1em 0 0 2em;
  //  padding: 1em 0 0 7em;
    margin: 0;
    height: 100px; // offset body by this amount too
    padding-top: 1em;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin: 0;
    background: $accent-color-1-bg;


    @include mobile {
        height: 70px;
        padding: 0em;
        text-align: center;
        border-bottom:1px solid $button-hover; // creates divider b/t header and first button
        }
    @include tablet {
        padding: 1em;
        text-align: center;
        }


    a, a:visited {
          color:#fff;
          text-decoration:none!important; // prevent bootstrap, etc from adding underline
    }

    a:hover { // stay the same on hover
      //background: $accent-color-1-bg;
      color:#fff;}

    h1 {
        letter-spacing: .1em;
        padding: 0;
        margin: 0;
        position: relative;
        top:15px;
        display: inline-block;
        font-size: 2.5em;

        // adjust h1 header font for non-desktop views
        @include mobile {
            font-size: 1.8em;
            padding-top: 7px;
        }
        @include tablet {
            font-size: 2.0em;
        }

    }
}


.header-profile {
  position: absolute;
  top:0;
  right:0;
  padding-top:1em;
  padding-right: 1em;

      @include mobile {
          display: none;
      }
      @include tablet {
        display:block;
      }

  .profile-pic {
    width:50px;
    height:50px;
    border-radius:50px;
  }

  .settings-link {
    color:#fff;
    text-decoration:none;
    display:block;
    font-size:.8em;
  }
  .settings-link:hover {
    padding-bottom:3px;
    border-bottom:1px solid #fff;
  }
}
