@import 'sass';


.likes-page-music-player {

  // .audiojs { display: none;}


  .audiojs {
    display:none;
  }


  ol {
    margin-top:0px;
    border:0;
  }

  ol li a {  // clear spacing from other styles
    padding:0!important;
    margin:0!important;
    max-width:100%!important;
  }

  li.playing {
    background:#000;
    color: #fff!important; /* fix later */
    font-size:1.1em;
  }

  li.playing a {
    font-size:1.1em;
    color: #fff!important; /* fix later */
    }

  .animated {
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      animation-iteration-count:infinite;
      -webkit-animation-iteration-count:infinite;
  }

  @-webkit-keyframes pulse {
      0% { -webkit-transform: scale(1); }
      50% { -webkit-transform: scale(1.1); }
      100% { -webkit-transform: scale(1); }
  }
  @keyframes pulse {
      0% { transform: scale(1); }
      50% { transform: scale(1.1); }
      100% { transform: scale(1); }
  }
  .pulse {
      -webkit-animation-name: pulse;
      animation-name: pulse;
  }


  ol li  {
    text-align: left;
    cursor: default;


      #one {
        display:inline-block;
        vertical-align:top;
        width:48%;
        text-align:center;
        border:0px solid #fff;
        //padding-top:20px;

            .play-circle-container {

              margin:0 auto;
              display:block;
              text-align:center;
              padding-bottom:20px;
              padding-top:10px;

                 .fa-play-circle {
                   font-size:4em!important;
                   cursor:pointer;
                 }
            }
      }



    #two {
      display:inline-block;
      width:50%;
      text-align:center;
      padding:0;
      border:0px solid #fff;

             .profile-pic {
              max-width:80%;
              height:150px;
              padding:0px 0 10px 0;
              display:block;
              border-radius:0;
              margin:0 auto;
              cursor: pointer;
              vertical-align:top;
              }

              a {
                text-align:center!important;
                padding:0!important;
                margin:0!important;
              }
    }


  } // close ol li

} // close likes page music player







.liked-profile {

  h2 {
     span {
     display: block;
     margin:0 auto;
     font-size:.6em;
     margin-bottom:10px;
     letter-spacing:.2em;
     }
      padding:10px;
      margin:0px auto 0px auto;
      text-align: center;
      display:block;
    }


  h3 {
    padding:0 0 0 0;
    margin:0 auto;
    text-align: center;
    display:block;
    font-size:1.2em;
  }

  .profile-pic {
    text-align:center;
    margin:20px auto;
    display:block;
    max-width:150px;
    height:auto;
    border-radius:50%;
    cursor:default;
  }




  .chevron-back-link {
    padding-top:5px; // 5px hacky fix
  }


}




  .liked-social-icons {
    display: block;
    margin:0 auto;
    text-align:center;
    font-size:.6em;
    margin-bottom:10px;
    opacity:.8;

     a:first-child { padding:0px 15px;}
  }
