@import 'sass';


.likes-page-music-player {

   .audiojs { display: none;}


  ol {
    margin-top:0px;
    border:0;
  }

  ol li a {  // clear spacing from other styles
    padding:0!important;
    margin:0!important;
    max-width:100%!important;
  }



  ol li  {
    text-align: left;
    cursor: default;


    #ghostheight { height:100% }
      #one {
        display:inline-block;
        vertical-align:top;
        width:48%;
        text-align:center;
        border:0px solid #fff;
        //padding-top:20px;

            .play-circle-container {

              margin:0 auto;
              display:block;
              text-align:center;
              padding-bottom:20px;
              padding-top:10px;

                 .fa-play-circle {
                   font-size:4em!important;
                 }
            }
      }



    #two {
      display:inline-block;
      width:50%;
      text-align:center;
      padding:0;
      border:0px solid #fff;

             .profile-pic {
              max-width:100%; // inside likes left div
              height:auto;
              padding:0px 0 10px 0;
              display:block;
              border-radius:5px;
              margin:0;
              cursor: pointer;
              vertical-align:top;
              }

              a {
                text-align:center!important;
                padding:0!important;
                margin:0!important;
              }
    }


  } // close ol li

} // close likes page music player







.liked-profile {

  h2 {
      padding:10px;
      margin:0px auto 0px auto;
      text-align: center;
      display:block;
    }


  h3 {
    padding:0 0 0 0;
    margin:0 auto;
    text-align: center;
    display:block;
    font-size:1.2em;
  }

  .profile-pic {
    text-align:center;
    margin:20px auto;
    display:block;
    max-width:150px;
    height:auto;
    border-radius:50%;
    cursor:default;
  }

  .chevron-back-link {
    padding-top:5px; // 5px hacky fix
  }


}
