@import 'sass';


.account-settings-wrapper {
  .rails-link {   // tbd: think this can be removed
    text-align: center;
    padding-top:50px;
    padding-left:0px;
    padding-right:0px;
    padding-bottom:20px;
  }
}

#accordion {

  .accordion-content {

  }
  h3 { // accordion headers

    letter-spacing:0;
    font-size:1.8em;
    text-align: left;
    cursor: pointer;
    margin-bottom:30px;
    color:#f8f8f8;
    padding:10px 20px;
  }

  h3:hover {
    background:#000;
  }

  h3:first-child {
    margin-top:30px;
  }

  .ui-state-focus {
  outline: none;
  background:#000;

}

}



// CSS FOR ADDING GENRES, INSTRUMENTS, INFLUENCES
// shared with jam circle index page that lists existing JC's
.preferences-label {
  padding:.5em;
  background:rgba(0,0,0,.5);
  max-width:100%;
  position: relative;
//  color: #404040;


  .destroy-link {
    padding:.5em;
    position: absolute;
    top:0;
    right:0;
    font-size:.6em;
    text-decoration: none;
    color:#ccc;
  }
  + a {
    // add instrument anchor text
   }

}

.add-icon {
  font-size:1.5em!important;
  margin-left:5px!important;
  position: relative!important;
  top:3px!important;
  }








.profile-wrapper {
     margin-bottom:80px;

     .select { margin-top: 10px; display: block;}


     form { /* super hacky,for some reason 100% is making it bump out of container */
       width:94%;
       padding:0;
       margin:10px;
     }


    .link-to-go-back {
      float:none;
      text-align: center;
      padding:30px 0 10px 0;
    }


           @include mobile {
             padding-bottom:50px;
             margin-bottom:0px;
           }




     .settings-header {
         display: block;
         width:auto;
         text-align: left;
         margin: 0 10px;
         color: #ccc;
         text-transform: uppercase;
         font-size: 1em;
         background: rgba(0, 0, 0, 1);
         padding:15px 10px 15px 10px;
         margin-bottom:10px;

               @include mobile {
                   text-align: left;
                   font-size: 1em;
                   margin-top: 15px;
                   padding-bottom: 0;
                   color: #fff;
                   background: rgba(0, 0, 0, 1); // remove background opacity
                   display: block;
                   margin-left: 10px;
                   padding: 5px 10px;
               }
         }

    #instruments-container {
      padding:10px;
      margin-bottom:15px;

     /*  select {
        width:100%;
        padding:10px; // does nothing
        font-size:2.8em!important; // does nothing
        height:20px;
      } */
    }
    #influences-container {
      padding: 10px;
      margin-bottom:15px;

          #influence-input{   // see inline styles for this - CSS issues
            color: initial;
            width: 100%;
            padding: 10px;
            font-size: 1.4em;
            border: 0px solid $border-color;
            border-radius: $border-radius;
                @include mobile {
                  font-size: 1.2em;
                }
           }
    }

    #genres-container {
      padding:10px;
      margin-bottom:15px;

    /*  select {
        width:100%;
        padding:10px; // does nothing
        font-size:2.8em!important; // does nothing
        height:20px;
      }*/


    }
}
