// sass media query sizes
$phone-width: 600px;
$tablet-width: 900px;
$desktop-width: 1024px;


// sass variables
$border-color: #ccc; // applies to all form elements
$border-radius: 0px; // applies to all form elements
$transition: .5s ease; // apply to anything we want to have on hover transition effect, like buttons, etc
$hover-bg: #fff;

// sass mixins
@mixin mobile {
  @media only screen and (min-width: 1px) and  (max-width: #{$phone-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$phone-width + 1}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
