@import 'sass';
.full-screen {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .5);
}
.jam-circle {
  background: rgba(0,0,0,.6);
  color: #fff;
  position: fixed;
  height: auto;
  width: 350px;
  font-size: 1em;
  margin-top: 110px;
  margin-left: 10px;
  border: 0.5em solid #000;
  .box {
    padding: 10px;
  }
  .edit-JC-link {
    text-decoration: underline;
    font-size: 0.7em;
    display: block;
    text-align: right;
    padding-top: 15px;
    padding-right: 2px;
  }
  .edit-JC-link:hover {
    text-decoration: underline;
    color: #fff;
  }
  h2 {
    text-align: center;
    display: block;
    margin: 0 auto;
    color: #ccc;
    text-transform: uppercase;
    font-size: 1.5em;
    background: rgba(0, 0, 0, .5);
    padding: 15px 0 15px 5px;
    .jam-circle-back-link {
      position: relative;
      padding-right: 0;
      padding-bottom: 0;
      font-size: 0.3em !important;
      top: -3px !important;
      left: 0;
      float: left;
    }
    span {
      display: inline-block;
      margin: 0 auto;

      //  padding-left:-10px;
      position: relative;
      left: -10px;
    }
  }
  h3 {
    font-size: 1.4em;
    margin-top: 0;
    padding-top: 0;
  }
}



.help-div {
  margin-top:105px;
  position:absolute;
  top:0;
  right:0;
  margin-right:7px;
  color:#fff;
  padding:5px;
//  border:.2em solid #000;
  width:auto;
  display:inline-block;
//  background:rgba(0,0,0,.7);
  cursor: pointer;
  width:50px;
  font-size:.7em;
  color:#ccc;
}

.help-text {
  display:none; // show on click
  margin-top:110px;
  position:absolute;
  top:0;
  right:0;
  margin-right:70px;
  color:#fff;
  padding:15px;
  border:.5em solid #000;
  width:auto;
  background:rgba(0,0,0,.7);
}


svg {
  background: transparent;
  position: fixed;
  padding: 8% 10%;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  min-height: 100%;
  z-index: 0;
  .node {
    cursor: pointer;
    circle {
      fill: black;
      stroke: white;
      stroke-width: 2px;
    }
    text {
      font: 2vh sans-serif;
      fill: white;
      cursor: pointer;
    }
  }
  .link {
    fill: none;
    stroke: white;
    stroke-width: 3px;
  }
}
#jam-circle-modal {
  border: 0.5em solid #000;
  background: #404040;
  margin-top: 200px;
  .btn,
  .btn-primary {
    // play / download // add to button
    font-family: inherit;
    width: 100%;
    padding: 25px;
    font-size: 1.4em;
    box-shadow: none;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    border-radius: 0;
    cursor: pointer;
    text-align: center;
    background: $button-color-bg;
    color: $button-text;
    transition: $transition;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    outline: none;
    border: none!important; // remove bootstrap styles
  }
  .btn:hover,
  .btn-primary:hover {
    font-family: inherit;
    color: $button-text;
    background: rgba($button-hover,.7);
    outline: none;
    border: none!important; // remove bootstrap styles
  }
}

// form inside modal
#jam-circle-modal {
  .modal-content {
    border-radius: 0!important; // remove bootstrap border radius on modal
    border: 0!important; // remove bootstrap border, grr
  }
  .upload-wrapper {

       h2 {
       }
     .upload-form {
        border-top:.5em solid #000;
        display:block;
        padding:15px;
        margin-bottom: 0px;
        overflow: auto; // otherwise button pops out of modal
        overflow-x: hidden; // prevent left to right scrollbar from showing up
        background:transparent;
      }
      form {
        padding:0;
        margin:0;
        background:#f8f8f8;
        input {
          font-family:inherit;
          color: initial;
          width: 100%;
          padding: 10px;
          font-size: 1.4em;
          border: 1px solid #ccc;
          border-radius: 0;
          margin-bottom:10px;
          }
          .select {
            border: 1px solid #ccc;
          }

    }
    .fileContainer {
      overflow: hidden;
      position: relative;
    }
    .fileContainer [type=file] {
      cursor: inherit;
      display: block;
      font-size: 999px;
      filter:alpha(opacity=0);
      min-height: 100%;
      min-width: 100%;
      opacity: 0;
      position: absolute;
      right: 0;
      text-align: right;
      top: 0;
    }

      .fileContainer {
          display: block;
          text-align: center;
          width: 100%;
          padding: 10px;
          font-size: 1.4em;
          background:#fff;//rgba(0, 0, 0, .9);
          color: #000;
          box-shadow: none;
          font-size: .8em;
          text-transform: uppercase;
          letter-spacing: .2em;
          border: 1px solid #ccc;
          border-radius: 0px;
          cursor: pointer;
          margin-top: 0px;
          transition:.2s ease;


                  span {
                  text-transform: uppercase;
                  display:block;
                  font-size:1.5em;
                  letter-spacing:.1em;

                 }
      }
      .fileContainer:hover {
        background:#000;
        color:#fff;
      }
      .fileContainer [type=file] {
          cursor: pointer;
      }


  }
}
