$svgHeight: 80vh;
$svgWidth: 80vw;


.jam-circle {
  background: transparent;
  color: #fff;
  position: absolute;
  left: 1%;
  // top: 10%;
  height: 100px;
  width: auto;
  max-width: 30%;
  font-size: 1.5vmin;
  // line-height: 5px;
}

svg {
  background: rgba(0, 0, 0, .7);
  position: fixed;
  left: 0;
  top: 0;
  width: $svgWidth;
  height: $svgHeight;
  margin: 10vh 10vw;
  z-index: 0;
}

div svg g.node {
  cursor: pointer;
}

.node circle {
  fill: black;
  stroke: white;
  stroke-width: 2px;
}

.node text {
  font: 20px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
