@import 'sass';
.upload-wrapper {




    .upload-form {
      display:block;
    //  padding:15px 50px;
      margin-bottom: 10px;

          @include mobile {
          padding:15px 10px;
          }
    }

    form {
      padding:0;
      margin:0;
    }


    select {
      //width:100%;
      //height:30px!important;
    }

    .upload-field-instrument {
    /*  display:inline;
      width:100%;
    */}

    .upload-field-instrument-label {

    }
    #clip_instrument_id { // select list
    /*  width: 100%;
      padding: 10px;
      //font-size: 1.4em;
      background: #fff;
      color: #404040;
      box-shadow: none;
      border: 0px solid $border-color;
      border-radius: $border-radius;
      margin-top:10px;
      margin-bottom:10px;
*/
    }






    .fileContainer {
        overflow: hidden;
        position: relative;
    }

    .fileContainer [type=file] {
        cursor: inherit;
        display: block;
        font-size: 999px;
        filter: alpha(opacity=0);
        min-height: 100%;
        min-width: 100%;
        opacity: 0;
        position: absolute;
        right: 0;
        text-align: right;
        top: 0;
    }

    /* Example stylistic flourishes */

    .fileContainer {
        border: 1px dotted #000;
        border-radius: $border-radius;
        padding:20px 10px;
        float: left;
        font-size: 1em;
        background: #fff;
        color: #404040;
        box-shadow: none;
        color:#404040;
        text-align:center;
        width:100%;
        margin-bottom:10px;
    }

    .fileContainer [type=file] {
        cursor: pointer;
    }




     .submit-clip { // real submit button
       display:none;   // display block once file upload is clicked
     }
    .submit-clip-fake {
      display: block;
      text-align: center;
      width: 100%;
      padding: 10px;
      font-size: 1.4em;
      background: rgba(0,0,0,.2); // #FDF5E6;
      color: #fff;
      box-shadow: none;
      font-size:1em;
      text-transform: uppercase;
      letter-spacing:.2em;
      border: 1px solid #FFF5EE;
      border-radius: 0px;
      cursor: pointer;
      margin-top:80px;
    }

}
