<!--
  <div class="footer-links">
    <%= link_to "Home", root_path %>
    <%= link_to "Logout", logout_path, method: :delete, class:"justify-footer" %>
  </div>
--->



<div class="mobile-menu-bar">

    <div class="mobile-menu-section">
      <a href="/#">
          <i class="fa fa-home"></i>
          <p>Home</p>
      </a>
    </div>

    <div class="mobile-menu-section">
      <a href="#">
      <i class="fa fa-search"></i>
       <p>Search</p>
     </a>
    </div>

    <div class="mobile-menu-section">
      <a href="#">
      <i class="fa fa-thumbs-o-up"></i>
      <p> Likes</p>
    </a>

</div>






  </div>
