
  <div class="nav-bar">
        <ul>
          <li>
            <a href="#">hey</a>
          </li>
          <li>
            <%= link_to "new file", new_file_path %>
          </li>
          <li>
            <a href="#">FAQ</a>
          </li>
          <li>
            <% if current_user %>
              <%= link_to "Logout", logout_path, method: :delete %>
            <% end %>
          </li>
        </ul>
  </div>


  <h1>Musicians Toolbox</h1>
